<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imoveis</title>
</head>
<body>
  <ul>
    {% for imovel in imoveis %}
      <li> 
        {{imovel.id}}: {{imovel.descricao}} | {{imovel.dataCompra}} | {{imovel.endereco}}  
        <a href="{% url 'editar' imovel.id %}">Editar</a> - 
        <a href="{% url 'delete' imovel.id %}">Excluir</a>
      </li>  
    {% endfor %}
  </ul>

  <form action="{% url 'salvar' %}" method="POST">
    {% csrf_token %}
    <p><label>Digite a descrição: </label><input type="text" name="descricao"></p>
    <p><label>Digite a data de compra: </label><input type="text" name="dataCompra"></p>
    <p><label>Digite o endereço: </label><input type="text" name="endereco"></p>
    <p><button type="submit">Salvar</button></p>
  </form>
</body>
</html>